* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  background: #274471;
}

.container {
  width: 400px;
  height: auto;
  background: rgb(243, 243, 243);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 30px auto;
}

#contactForm {
  padding: 25px;
}

input,
textarea {
  width: 100%;
  padding: 10px 16px;
  margin: 8px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  resize: none;
}

input:hover {
  color: aqua;
}

input[type="submit"] {
  background: #1ac0f3;
  padding: 14px 20px;
  cursor: pointer;
  color: #fff;
}
